<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta name="google-site-verification" content="Ip5yk0nd8yQHEo8I7SjzVfAiadlHvTvqQHLGwn1GFyU" />
    {% block header %}{% endblock %}
    <title>OpenStack Docs: {% block pagetitle %}{% endblock %}</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- CSS in: {{ cssdir }}-->
    {% include 'templates/css.tmpl' %}
    <!-- Google Analytics -->
    <script>
     //<![CDATA[

     var _gaq = _gaq || [];
     _gaq.push(['_setAccount', 'UA-17511903-1']);
     _gaq.push(['_setDomainName', '.openstack.org']);
     _gaq.push(['_trackPageview']);

     (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

     //]]>
    </script>
    <!-- End Google Analytics -->
  </head>
  <body>
    {% include 'templates/header.tmpl' %}
    {% block content %}{% endblock %}
    {% include 'templates/footer.tmpl' %}
    <!-- Scripts in: {{ scriptdir }}-->
    {% include 'templates/script_footer.tmpl' %}
  </body>
</html>
