<h2>SDKs</h2>
            <p>
               A software development kit (SDK) contains code, examples, and
               documentation that you use to create OpenStack cloud
               applications in the language of your choice.
            </p>
            <p>
               If one of the following SDKs do not support your language or use case,
               you can use the <a href="#api">APIs</a> or one of the other <a
               href="https://wiki.openstack.org/wiki/SDKs#Known_SDKs">known SDKs</a>.
            </p>

<h3>OpenStack Specific SDKs</h3>

            <p>
               SDKs that specifically target OpenStack. These will give the
               deepest support for using OpenStack specific features, but won't
               help write applications that work on both OpenStack as well as
               other clouds.
            </p>

            <div class="span-24" id="go">
               <h3 class="lang-name">
                  Go
               </h3>
               <div class="col-md-4">
                  <dl>
                     <dt>
                        SDK
                     </dt>
                     <dd>
                       <a class="roundedButton" href="http://gophercloud.io/">
                        Gophercloud
                        </a>
                     </dd>
                  </dl>
               </div>
               <div class="col-md-4">
                  <dl>
                    <dt>
                    Docs and resources
                    </dt>
                    <dd>
                    <a class="link" href="http://gophercloud.io/docs/" target="_top">
                      Getting Started with gophercloud
                    </a>
                    </dd>
                    <dd>
                    <a class="link" href="http://godoc.org/github.com/gophercloud/gophercloud/" target="_top">
                      GoDoc for Gophercloud
                    </a>
                    </dd>
                  </dl>
                </div>
                <div class="row">
                <div class="col-md-4">
                  <dl>
                    <dt>
                    Community
                    </dt>
                    <dd>
                    <strong>
                      Issues:
                    </strong>
                    <a href="https://github.com/gophercloud/gophercloud/issues"/>
                      gophercloud/gophercloud issues
                    </a>
                    </dd>
                    <dd>
                    <strong>
                      IRC:
                    </strong>
                    <a href="irc://irc.freenode.net/openstack-sdks">
                      #openstack-sdks
                    </a>
                    on <a href="https://freenode.net/">freenode</a>
                    </dd>
                  </dl>
                </div>
              </div>
            </div>

            <div class="span-24" id="python">
              <h3 class="lang-name">
                Python
              </h3>
                <div class="col-md-4">
                  <dl>
                    <dt>
                    SDK
                    </dt>
                    <dd>
                    <a class="roundedButton" href="https://docs.openstack.org/shade/latest/">
                      Shade SDK
                    </a>
                    </dd>
                  </dl>
                </div>
                <div class="col-md-4">
                  <dl>
                    <dt>
                    Docs and resources
                    </dt>
                    <dd>
                    <a class="link" href="https://developer.openstack.org/firstapp-shade/getting_started.html" target="_top">
                      Getting started
                    </a>
                    </dd>
                    <dd>
                    <a class="link" href="https://docs.openstack.org/shade/latest/user/usage.html" target="_top">
                      Usage
                    </a>
                    </dd>
                    <dd>
                    <a class="link" href="https://docs.openstack.org/releasenotes/shade/" target="_top">
                      Release notes
                    </a>
                    </dd>
                  </dl>
               </div>
               <div class="row">
               <div class="col-md-4">
                  <dl>
                    <dt>
                    Community
                    </dt>
                    <dd>
                      <strong>
                        IRC:
                      </strong>
                      <a href="irc://irc.freenode.net/openstack-sdks">
                        #openstack-sdks
                      </a>
                      on <a href="https://freenode.net/">freenode</a>
                    </dd>
                    <dd>
                      <strong>
                        Mailing list:
                      </strong>
                      <a href="http://lists.openstack.org/cgi-bin/mailman/listinfo/openstack-discuss">
                        Register
                      </a>
                      |
                      <a href="http://lists.openstack.org/pipermail/openstack-discuss/">
                        Archive
                      </a>
                    </dd>
                    <dd>
                      <strong>
                        Issues:
                      </strong>
                      <a href="https://storyboard.openstack.org/#!/project/760">
                        Issues
                      </a>
                    </dd>
                  </dl>
                </div>
              </div>
            </div>

            <div class="span-24" id="ruby">
               <h3 class="lang-name">
                  Ruby
               </h3>
               <div class="col-md-4">
                  <dl>
                     <dt>
                        SDK
                     </dt>
                     <dd>
                       <a class="roundedButton" href="https://rubygems.org/gems/misty/">
                        Misty gem
                        </a>
                     </dd>
                  </dl>
               </div>
               <div class="col-md-4">
                  <dl>
                    <dt>
                    Docs and resources
                    </dt>
                    <dd>
                    <a class="link" href="https://github.com/flystack/misty/blob/master/README.md" target="_top">
                      Getting Started with Misty
                    </a>
                    </dd>
                    <dd>
                    <a class="link" href="https://github.com/flystack/misty/blob/master/README.md#openstack-services" target="_top">
                      Supported APIs
                    </a>
                    </dd>
                    <dd>
                    <a class="link" href="https://github.com/flystack/misty" target="_top">
                      flystack/misty
                    </a>
                    </dd>
                  </dl>
                </div>
                <div class="row">
                <div class="col-md-4">
                  <dl>
                    <dt>
                    Community
                    </dt>
                    <dd>
                      <strong>
                        IRC:
                      </strong>
                      <a href="irc://irc.freenode.net/openstack-sdks">
                        #openstack-sdks
                      </a>
                      on <a href="https://freenode.net/">freenode</a>
                    </dd>
                    <dd>
                      <strong>
                        Issues:
                      </strong>
                      <a href="https://github.com/flystack/misty/issues">
                        Issues
                      </a>
                    </dd>
                  </dl>
                </div>
              </div>
            </div>

<h3>Multi-cloud SDKs</h3>

            <p>
               SDKs that provide a multi-cloud abstraction layer and include
               support for OpenStack. These SDKs are excellent for writing
               applications that need to consume more than one type of cloud
               provider, but may expose a more limited set of features.
            </p>


            <div class="span-24" id="java">
              <h3 class="lang-name">
                Java
              </h3>
                <div class="col-md-4">
                  <dl>
                    <dt>
                    SDK
                    </dt>
                    <dd>
                    <a class="roundedButton" href="http://jclouds.apache.org/guides/openstack/">
                      Apache jclouds SDK
                    </a>
                    </dd>
                  </dl>
                </div>
                <div class="col-md-4">
                  <dl>
                    <dt>
                    Docs and resources
                    </dt>
                    <dd>
                    <a class="link" href="http://jclouds.apache.org/guides/openstack/" target="_top">
                      OpenStack: Getting Started Guide
                    </a>
                    </dd>
                    <dd>
                    <a class="link" href="http://jclouds.apache.org/reference/javadoc/" target="_top">
                      Javadoc for Apache jclouds
                    </a>
                    </dd>
                    <dd>
                    <a class="link" href="http://jclouds.apache.org/releasenotes/" target="_top">
                      Release Notes Archive
                    </a>
                    </dd>
                  </dl>
               </div>
               <div class="row">
               <div class="col-md-4">
                  <dl>
                    <dt>
                    Community
                    </dt>
                    <dd>
                    <strong>
                      Twitter:
                    </strong>
                    <a href="https://twitter.com/jclouds">
                      @jclouds
                    </a>
                    </dd>
                    <dd>
                    <strong>
                      IRC:
                    </strong>
                    <a href="irc://irc.freenode.net/jclouds">
                      #jclouds
                    </a>
                    on <a href="https://freenode.net/">freenode</a>
                    </dd>
                    <dd>
                    <strong>
                      Mailing list:
                    </strong>
                    <a href="mailto:jclouds-user-subscribe@apache.org">
                      Register
                    </a>
                    |
                    <a href="http://www.mail-archive.com/user@jclouds.apache.org/">
                      Archive
                    </a>
                    </dd>
                    <dd>
                    <strong>
                      Issues:
                    </strong>
                    <a href="http://jclouds.apache.org/reference/report-a-bug/">
                      Report a Bug
                    </a>
                    </dd>
                  </dl>
                </div>
              </div>
            </div>

            <div class="span-24" id="nodejs">
              <h3 class="lang-name">
                Node.js
              </h3>
                <div class="col-md-4">
                  <dl>
                    <dt>
                    SDK
                    </dt>
                    <dd>
                    <a class="roundedButton" href="https://github.com/pkgcloud/pkgcloud/blob/master/docs/providers/openstack/README.md">
                      pkgcloud SDK
                    </a>
                    </dd>
                  </dl>
                </div>
                <div class="col-md-4">
                  <dl>
                    <dt>
                    Docs and resources
                    </dt>
                    <dd>
                    <a class="link" href="https://github.com/pkgcloud/pkgcloud/blob/master/docs/providers/openstack/getting-started-compute.md" target="_top">
                      Getting started with pkgcloud &amp; Openstack
                    </a>
                    </dd>
                    <dd>
                    <a class="link" href="https://github.com/pkgcloud/pkgcloud#supported-apis" target="_top">
                      Supported APIs
                    </a>
                    </dd>
                    <dd>
                    <a class="link" href="https://github.com/pkgcloud/pkgcloud/releases/" target="_top">
                      pkgcloud Releases
                    </a>
                    </dd>
                  </dl>
               </div>
               <div class="row">
               <div class="col-md-4">
                  <dl>
                    <dt>
                    Community
                    </dt>
                    <dd>
                    <strong>
                      Twitter:
                    </strong>
                    <a href="https://twitter.com/pkgcloud">
                      @pkgcloud
                    </a>
                    </dd>
                    <dd>
                    <strong>
                      IRC:
                    </strong>
                    <a href="irc://irc.freenode.net/pkgcloud">
                      #pkgcloud
                    </a>
                    on <a href="https://freenode.net/">freenode</a>
                    </dd>
                    <dd>
                    <strong>
                      Issues:
                    </strong>
                    <a href="https://github.com/pkgcloud/pkgcloud/issues">
                      pkgcloud/pkgcloud Issues
                    </a>
                    </dd>
                  </dl>
                </div>
              </div>
            </div>

            <div class="span-24" id="python">
              <h3 class="lang-name">
                Python
              </h3>
                <div class="col-md-4">
                  <dl>
                    <dt>
                    SDK
                    </dt>
                    <dd>
                    <a class="roundedButton" href="https://libcloud.apache.org/">
                      libcloud SDK
                    </a>
                    </dd>
                  </dl>
                </div>
                <div class="col-md-4">
                  <dl>
                    <dt>
                    Docs and resources
                    </dt>
                    <dd>
                    <a class="link" href="https://developer.openstack.org/firstapp-libcloud/getting_started.html" target="_top">
                      Getting started
                    </a>
                    </dd>
                    <dd>
                    <a class="link" href="https://libcloud.readthedocs.org/en/latest/compute/drivers/openstack.html" target="_top">
                      OpenStack Compute Driver Documentation
                    </a>
                    </dd>
                    <dd>
                    <a class="link" href="https://libcloud.readthedocs.org/en/latest/" target="_top">
                      Welcome to Apache Libcloud’s documentation!
                    </a>
                    </dd>
                    <dd>
                    <a class="link" href="https://git-wip-us.apache.org/repos/asf?p=libcloud.git;a=blob;f=CHANGES.rst" target="_top">
                      Changes with current version of Apache Libcloud
                    </a>
                    </dd>
                  </dl>
               </div>
               <div class="row">
               <div class="col-md-4">
                  <dl>
                    <dt>
                    Community
                    </dt>
                    <dd>
                    <strong>
                      Twitter:
                    </strong>
                    <a href="https://twitter.com/libcloud">
                      @libcloud
                    </a>
                    </dd>
                    <dd>
                    <strong>
                      IRC:
                    </strong>
                    <a href="irc://irc.freenode.net/libcloud">
                      #libcloud
                    </a>
                    on <a href="https://freenode.net/">freenode</a>
                    </dd>
                    <dd>
                    <strong>
                      Mailing list:
                    </strong>
                    <a href="https://libcloud.apache.org/community.html">
                      Register
                    </a>
                    |
                    <a href="https://issues.apache.org/jira/browse/LIBCLOUD">
                      Archive
                    </a>
                    </dd>
                    <dd>
                    <strong>
                      Issues:
                    </strong>
                    <a href="https://issues.apache.org/jira/browse/LIBCLOUD/?selectedTab=com.atlassian.jira.jira-projects-plugin:issues-panel">
                      Issues
                    </a>
                    </dd>
                  </dl>
                </div>
              </div>
            </div>

            <div class="span-24" id="ruby">
              <h3 class="lang-name">
                Ruby
              </h3>
              <div class="col-md-4">
                  <dl>
                    <dt>
                    SDK
                    </dt>
                    <dd>
                    <a class="roundedButton" href="http://fog.io/">
                      Fog SDK
                    </a>
                    </dd>
                  </dl>
                </div>
                <div class="col-md-4">
                  <dl>
                    <dt>
                    Docs and resources
                    </dt>
                    <dd>
                    <a class="link" href="https://github.com/fog/fog-openstack/blob/master/docs/getting_started.md" target="_top">
                      Getting started
                    </a>
                    </dd>
                    <dd>
                    <a class="link" href="https://github.com/fog/fog-openstack/blob/master/supported.md" target="_top">
                      Supported APIs
                    </a>
                    </dd>
                    <dd>
                    <a class="link" href="https://github.com/fog/fog-openstack/tree/master/examples" target="_top">
                      Code samples
                    </a>
                    </dd>
                  </dl>
               </div>
               <div class="row">
               <div class="col-md-4">
                  <dl>
                    <dt>
                    Community
                    </dt>
                    <dd>
                    <strong>
                      Twitter:
                    </strong>
                    <a href="https://twitter.com/fog">
                      @fog
                    </a>
                    </dd>
                    <dd>
                    <strong>
                      IRC:
                    </strong>
                    <a href="irc://irc.freenode.net/ruby-fog">
                      #ruby-fog
                    </a>
                    on <a href="https://freenode.net/">freenode</a>
                    </dd>
                    <dd>
                    <strong>
                      Mailing list:
                    </strong>
                    <a href="http://groups.google.com/group/ruby-fog">
                      ruby-fog
                    </a>
                    </dd>
                    <dd>
                    <strong>
                      Issues:
                    </strong>
                    <a href="https://github.com/fog/fog-openstack/issues">
                      fog/fog-openstack Issues
                    </a>
                    </dd>
                  </dl>
                </div>
              </div>
            </div>

            <div class="span-24" id="net">
              <h3 class="lang-name">
                .NET
              </h3>
                <div class="col-md-4">
                  <dl>
                    <dt>
                    SDK
                    </dt>
                    <dd>
                    <a class="roundedButton"  href="http://www.openstacknetsdk.org">
                      .NET SDK
                    </a>
                    </dd>
                  </dl>
                </div>
                <div class="col-md-4">
                  <dl>
                    <dt>
                    Docs and resources
                    </dt>
                    <dd>
                    <a class="link" href="https://github.com/openstacknetsdk/openstack.net/wiki/Getting-Started-With-The-OpenStack-NET-SDK" target="_top">
                      Getting started
                    </a>
                    </dd>
                    <dd>
                    <a class="link" href="http://www.openstacknetsdk.org/docs/html/e11545c6-88c9-4ff1-b0cf-abffd4bd3ff7.htm" target="_top">
                      Supported APIs
                    </a>
                    </dd>
                    <dd>
                    <a class="link" href="https://github.com/openstacknetsdk/openstack.net/tree/develop/samples" target="_top">
                      Code samples
                    </a>
                    </dd>
                    <dd>
                    <a class="link" href="https://github.com/openstacknetsdk/openstack.net" target="_top">
                      openstacknetsdk/openstack.net
                    </a>
                    </dd>
                  </dl>
               </div>
               <div class="row">
               <div class="col-md-4">
                  <dl>
                    <dt>
                    Community
                    </dt>
                    <dd>
                    <strong>
                      IRC:
                    </strong>
                    <a href="irc://irc.freenode.net/openstack-sdks">
                      #openstack-sdks
                    </a>
                    on <a href="https://freenode.net/">freenode</a>
                    </dd>
                    <dd>
                    <strong>
                      Mailing list:
                    </strong>
                    <a href="http://lists.openstack.org/cgi-bin/mailman/listinfo/openstack-discuss">
                      Register
                    </a>
                    |
                    <a href="http://lists.openstack.org/pipermail/openstack-discuss/">
                      Archive
                    </a>
                    </dd>
                    <dd>
                    <strong>
                      Issues:
                    </strong>
                    <a href="https://github.com/openstacknetsdk/openstack.net/issues">
                      openstacknetsdk/openstack.net Issues
                    </a>
                    </dd>
                  </dl>
                </div>
              </div>
            </div>

            <div class="span-24" id="php">
              <h3 class="lang-name">
                PHP
              </h3>
                <div class="col-md-4">
                  <dl>
                    <dt>
                    SDK
                    </dt>
                    <dd>
                    <a class="roundedButton" href="http://docs.os.php-opencloud.com/en/latest/">
                      PHP OpenCloud SDK
                    </a>
                    </dd>
                  </dl>
                </div>
                <div class="col-md-4">
                  <dl>
                    <dt>
                    Docs and resources
                    </dt>
                    <dd>
                    <a class="link" href="http://docs.os.php-opencloud.com/en/latest/#supported-services" target="_top">
                      Supported APIs
                    </a>
                    </dd>
                    <dd>
                    <a class="link" href="https://github.com/php-opencloud/openstack/tree/master/samples" target="_top">
                      Code samples
                    </a>
                    </dd>
                    <dd>
                    <a class="link" href="https://github.com/php-opencloud/openstack" target="_top">
                      php-opencloud/openstack
                    </a>
                    </dd>
                  </dl>
               </div>
               <div class="row">
               <div class="col-md-4">
                  <dl>
                    <dt>
                    Community
                    </dt>
                    <dd>
                    <strong>
                      IRC:
                    </strong>
                    <a href="irc://irc.freenode.net/openstack-sdks">
                      #openstack-sdks
                    </a>
                    on <a href="https://freenode.net/">freenode</a>
                    </dd>
                    <dd>
                    <strong>
                      Mailing list:
                    </strong>
                    <a href="https://groups.google.com/forum/#!forum/php-opencloud">
                      php-opencloud
                    </a>
                    </dd>
                    <dd>
                    <strong>
                      Issues:
                    </strong>
                    <a href="https://github.com/php-opencloud/openstack/issues">
                      php-opencloud/openstack Issues
                    </a>
                    </dd>
                  </dl>
                </div>
              </div>
            </div>
