.DS_Store
*.xpr

# Build results
publish-docs/
target/
/build-*.log.gz
/generated
/api-quick-start/build/
/firstapp/build*/

# Packages
*.egg
*.egg-info

# Testenvironment
.tox

# Editors
*~
.*.swp
.bak
