# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.
pbr>=0.6,!=0.7,<1.0
openstack-doc-tools>=0.23
doc8  # Apache-2.0
Pygments
# At least 1.3 is required for dedent in code blocks. Capped to 1.3 to not get an automatic update to any newer versions.
sphinx>=1.3,!=1.3b1,<1.4
openstackdocstheme>=1.0.7
nwdiag
sphinxcontrib-nwdiag
