# Redirect for the new file name for complete reference page
redirect 301 /api-reference.html /api-guide/quick-start/index.html
redirect 301 /api-specs.html /api-ref-guides.html
redirect 301 /api-ref.html /api-guide/quick-start/index.html
# Redirect Compute API reference v3 to v2.1
redirect 301 /api-ref-compute-v3.html /api-ref/compute/
# Redirect Compute API reference v2.0 to v2.1
redirect 301 /api-ref-compute-v2.html /api-ref/compute/
redirect 301 /api-ref-compute-v2-ext.html /api-ref/compute/
# Redirect Compute API v2.1 reference to in-tree Nova api-ref
redirect 301 /api-ref-compute-v2.1.html /api-ref/compute/
# Redirect Clustering API reference
redirect 301 /api-ref-clustering-v1.html /api-ref/api-ref/clustering/index.html
# Redirect plural databases file name to database
redirect 301 /api-ref-databases-v1.html /api-ref-database-v1.html
# Redirect Data Processing v1.1
redirect 301 /api-ref-data-processing-v1.1.html /api-ref/data-processing/index.html
# Redirect WADL-based Bare Metal API docs to in-tree docs
redirect 301 /api-ref-baremetal-v1.html /api-ref/baremetal/index.html
# Redirect WADL-based Block Storage API docs to in-tree docs
redirect 301 /api-ref-blockstorage-v1.html /api-ref/block-storage/index.html
redirect 301 /api-ref-blockstorage-v2.html /api-ref/block-storage/index.html
# Redirect WADL-based Identity API docs to in-tree docs
redirect 301 /api-ref-identity-v2.html /api-ref/identity/v2/index.html
redirect 301 /api-ref-identity-admin-v2.html /api-ref/identity/v2-admin/index.html
redirect 301 /api-ref-identity-v2-ext.html /api-ref/identity/v2-ext/index.html
redirect 301 /api-ref-identity-v3.html /api-ref/identity/v3/index.html
redirect 301 /api-ref-identity-v3-ext.html /api-ref/identity/v3-ext/index.html
# Redirect WADL-based Images API docs to in-tree docs
redirect 301 /api-ref-image-v1.html /api-ref/image/index.html
redirect 301 /api-ref-image-v2.html /api-ref/image/index.html
# Redirect WADL-based Networking API docs to in-tree docs
redirect 301 /api-ref-networking-v2.html /api-ref/networking/v2/index.html
redirect 301 /api-ref-networking-v2-ext.html /api-ref/networking/v2/index.html
# Redirect Networking extensions to landing
redirect 301 /api-ref/networking/v2-ext/ /api-ref/networking/index.html
# Redirect WADL-based Object Storage API docs to in-tree docs
redirect 301 /api-ref-objectstorage-v1.html /api-ref/object-storage/index.html
# Redirect Orchestration API
redirect 301 /api-ref-orchestration-v1.html /api-ref/orchestration/index.html
# Redirect Shared File Systems API v2
redirect 301 /api-ref-share-v2.html /api-ref/shared-file-systems/index.html
# Redirect Shared File Systems API v1
redirect 301 /api-ref-share-v1.html /api-ref/shared-file-systems/index.html
# Redirect Telemetry (ceilometer only) API
redirect 301 /api-ref-telemetry-v2.html http://docs.openstack.org/developer/ceilometer/webapi/v2.html