# Redirect for the new file name for complete reference page
redirect 301 /api-reference.html /api-ref.html
redirect 301 /api-specs.html /api-ref-guides.html
# Redirect Compute API reference v3 to v2.1
redirect 301 /api-ref-compute-v3.html /api-ref-compute-v2.1.html
# Redirect Compute API reference v2.0 to v2.1
redirect 301 /api-ref-compute-v2.html /api-ref-compute-v2.1.html
redirect 301 /api-ref-compute-v2-ext.html /api-ref-compute-v2.1.html
# Redirect plural databases file name to database
redirect 301 /api-ref-databases-v1.html /api-ref-database-v1.html
# Redirect WADL-based Bare Metal API docs to in-tree docs
redirect 301 /api-ref-baremetal-v1.html /api-ref/baremetal/index.html
# Redirect WADL-based Identity API docs to in-tree docs
redirect 301 /api-ref-identity-v2.html /api-ref/identity/v2/index.html
redirect 301 /api-ref-identity-admin-v2.html /api-ref/identity/v2-admin/index.html
redirect 301 /api-ref-identity-v2-ext.html /api-ref/identity/v2-ext/index.html
redirect 301 /api-ref-identity-v3.html /api-ref/identity/v3/index.html
redirect 301 /api-ref-identity-v3-ext.html /api-ref/identity/v3-ext/index.html
