{% set scriptdir = './common/js/' %}
{% set cssdir = './common/css/' %}
{% extends "templates/indexbase.tmpl" %}
{% block pagetitle %}Application Development{% endblock %}
{% block title %}{% endblock %}
{% block header %}{% endblock header %}
{% block content %}
<!-- Begin Page Content -->
<div class="top-docs-wrapper">
   <div class="container">
      <div class="col-lg-12">
         <h1>Development resources for OpenStack clouds</h1>
         <p>
            This web page will walk you through the stages of learning to develop applications to run on OpenStack.
         </p>
         <hr>
         <a href="#devenv" class="overview-btn docs-btn">Development Environments <i class="fa fa-gears"></i></a>
         <a href="#firstapp" class="overview-btn docs-btn">Writing your First App <i class="fa fa-pagelines"></i></a>
         <a href="#refarch" class="overview-btn docs-btn">Reference Architectures <i class="fa fa-building-o"></i></a>
         <a href="#sdk" class="overview-btn docs-btn">View SDKs <i class="fa fa-arrow-circle-o-down"></i></a>
         <a href="#api" class="overview-btn docs-btn">View APIs <i class="fa fa-arrow-circle-o-down"></i></a>
         <a href="#cli" class="overview-btn docs-btn">View CLIs <i class="fa fa-arrow-circle-o-down"></i></a>
         <form class="docs-main-search-form">
            <script type="text/javascript">
               (function() {
                 var cx = '000108871792296872333:noj9nikm74i';
                 var gcse = document.createElement('script');
                 gcse.type = 'text/javascript';
                 gcse.async = true;
                 gcse.src = (document.location.protocol == 'https:' ? 'https:' :
                                                           'http:') +
                            '//www.google.com/cse/cse.js?cx=' + cx;
                 var s = document.getElementsByTagName('script')[0];
                 s.parentNode.insertBefore(gcse, s);
               })();
            </script>
            <gcse:search gname="standard" as_sitesearch="docs.openstack.org"></gcse:search>
         </form>
      </div>
      <div class="container docs-toc">
         <div id="devenv">
            <h2>Development Environments</h2>
            <p>
               Need a place to start learning OpenStack, or your own personal OpenStack development environment?
            </p>
            <h3>Public Environments</h3>
            <ul>
              <li><a href="http://trystack.org/">TryStack The OpenStack Sandbox</a></li>
              <li><a href="https://www.openstack.org/marketplace/">Public Clouds on the Marketplace</a></li>
            </ul>
            <h3>Private Installations</h3>
            <ul>
              <li><a href="https://docs.openstack.org/developer/devstack/">DevStack Create a development environment based on the latest code</a></li>
              <li><a href="https://github.com/openstack/packstack/blob/master/docs/packstack.rst">PackStack A simple Puppet driven installation of OpenStack</a></li>
            </ul>
         </div>
      <div id="firstapp">
            <h2>Writing Your First OpenStack Application</h2>
            <p>
               Want to quickly learn how to manipulate OpenStack using the OpenStack SDKs?
            </p>
            <h3>OpenStack FirstApp</h3>
            <ul>
              <li><a href="https://developer.openstack.org/firstapp-libcloud/">FirstApp with the Libcloud public Python library</a></li>
              <li><a href="https://developer.openstack.org/firstapp-shade/">FirstApp using the OpenStack Shade SDK</a></li>
            </ul>
         </div>
         <div id="refarch">
            <h2>Reference Architectures</h2>
            <p>
               Think of these as curated playlists of OpenStack configurations. These Reference Architectures are based on real-world 
               workloads. The Reference Architecture document will give you a good idea of which core and optional projects might be used by the workload.
               In addition, each Reference Architecture includes sample Heat and or Murano packages which will allow you to reproduce the
               workload in your own enviornment.
            </p>
            <h3>Reference Architectures</h3>
            <ul>
              <li><a href="https://www.openstack.org/software/sample-configs#web-applications">Web Applications</a></li>
              <li><a href="https://www.openstack.org/software/sample-configs#big-data">Big Data</a></li>
              <li><a href="https://www.openstack.org/software/sample-configs#ecommerce">eCommerce</a></li>
            </ul>
            <h3>Heat Templates</h3>
            <ul>
              <li><a href="https://apps.openstack.org/#tab=heat-templates&asset=3-tier%20Web%20Application%20-%20WordPress%2FLAMP">Web Applications</a></li>
              <li><a href="https://apps.openstack.org/#tab=heat-templates&asset=Big%20Data%20Application%20-%20Hadoop">Big Data</a></li>
              <li><a href="https://www.openstack.org/software/sample-configs#ecommerce">eCommerce</a></li>
            </ul>
         </div>
         <div id="sdk">
            <h2>SDKs</h2>
            <p>
               A software development kit (SDK) contains code, examples, and
               documentation that you use to create OpenStack cloud
               applications in the language of your choice.
            </p>
            <p>
               If one of the following SDKs do not support your language or use case,
               you can use the <a href="#api">APIs</a> or one of the other <a
               href="https://wiki.openstack.org/wiki/SDKs#Known_SDKs">known SDKs</a>.
            </p>
            <div class="span-24" id="java">
               <h3 class="lang-name">
                  Java
               </h3>
               <div class="col-md-4">
                  <dl>
                     <dt>
                        SDK
                     </dt>
                     <dd>
                        <a class="roundedButton" href="http://jclouds.apache.org/guides/openstack/">
                        Apache jclouds SDK
                        </a>
                     </dd>
                  </dl>
               </div>
               <div class="col-md-4">
                  <dl>
                     <dt>
                        Docs and resources
                     </dt>
                     <dd>
                        <a class="link" href="http://jclouds.apache.org/guides/openstack/" target="_top">
                        OpenStack: Getting Started Guide
                        </a>
                     </dd>
                     <dd>
                        <a class="link" href="http://jclouds.apache.org/reference/javadoc/" target="_top">
                        Javadoc for Apache jclouds
                        </a>
                     </dd>
                     <dd>
                        <a class="link" href="http://jclouds.apache.org/releasenotes/" target="_top">
                        Release Notes Archive
                        </a>
                     </dd>
                  </dl>
               </div>
               <div class="row">
               <div class="col-md-4">
                  <dl>
                     <dt>
                        Community
                     </dt>
                     <dd>
                        <strong>
                        Twitter:
                        </strong>
                        <a href="https://twitter.com/jclouds">
                        @jclouds
                        </a>
                     </dd>
                     <dd>
                        <strong>
                        IRC:
                        </strong>
                        <a href="irc://irc.freenode.net/jclouds">
                        #jclouds
                        </a>
                        on freenode
                     </dd>
                     <dd>
                        <strong>
                        Mailing list:
                        </strong>
                        <a href="mailto:jclouds-user-subscribe@apache.org">
                        Register
                        </a>
                        |
                        <a href="http://www.mail-archive.com/user@jclouds.apache.org/">
                        Archive
                        </a>
                     </dd>
                     <dd>
                        <strong>
                        Issues:
                        </strong>
                        <a href="http://jclouds.apache.org/reference/report-a-bug/">
                        Report a Bug
                        </a>
                     </dd>
                  </dl>
                 </div>
              </div>
              </div>
            <div class="span-24" id="nodejs">
               <h3 class="lang-name">
                  Node.js
               </h3>
               <div class="col-md-4">
                  <dl>
                     <dt>
                        SDK
                     </dt>
                     <dd>
                        <a class="roundedButton" href="https://github.com/pkgcloud/pkgcloud/blob/master/docs/providers/openstack/README.md">
                        pkgcloud SDK
                        </a>
                     </dd>
                  </dl>
               </div>
               <div class="col-md-4">
                  <dl>
                     <dt>
                        Docs and resources
                     </dt>
                     <dd>
                        <a class="link" href="https://github.com/pkgcloud/pkgcloud/blob/master/docs/providers/openstack/getting-started-compute.md" target="_top">
                        Getting started with pkgcloud &amp; Openstack
                        </a>
                     </dd>
                     <dd>
                        <a class="link" href="https://github.com/pkgcloud/pkgcloud#supported-apis" target="_top">
                        Supported APIs
                        </a>
                     </dd>
                     <dd>
                        <a class="link" href="https://github.com/pkgcloud/pkgcloud/releases/" target="_top">
                        pkgcloud Releases
                        </a>
                     </dd>
                  </dl>
               </div>
               <div class="row">
               <div class="col-md-4">
                  <dl>
                     <dt>
                        Community
                     </dt>
                     <dd>
                        <strong>
                        Twitter:
                        </strong>
                        <a href="https://twitter.com/pkgcloud">
                        @pkgcloud
                        </a>
                     </dd>
                     <dd>
                        <strong>
                        IRC:
                        </strong>
                        <a href="irc://irc.freenode.net/pkgcloud">
                        #pkgcloud
                        </a>
                        on freenode
                     </dd>
                     <dd>
                        <strong>
                        Issues:
                        </strong>
                        <a href="https://github.com/pkgcloud/pkgcloud/issues">
                        pkgcloud/pkgcloud Issues
                        </a>
                     </dd>
                  </dl>
                </div>
               </div>
              </div>
            <div class="span-24" id="python">
               <h3 class="lang-name">
                  Python
               </h3>
               <div class="col-md-4">
                  <dl>
                     <dt>
                        SDK
                     </dt>
                     <dd>
                        <a class="roundedButton" href="https://libcloud.apache.org/">
                        libcloud SDK
                        </a>
                     </dd>
                  </dl>
               </div>
               <div class="col-md-4">
                  <dl>
                     <dt>
                        Docs and resources
                     </dt>
                     <dd>
                        <a class="link" href="https://developer.openstack.org/firstapp-libcloud/getting_started.html" target="_top">
                        Getting started
                        </a>
                     </dd>
                     <dd>
                        <a class="link" href="https://libcloud.readthedocs.org/en/latest/compute/drivers/openstack.html" target="_top">
                        OpenStack Compute Driver Documentation
                        </a>
                     </dd>
                     <dd>
                        <a class="link" href="https://libcloud.readthedocs.org/en/latest/" target="_top">
                        Welcome to Apache Libcloud’s documentation!
                        </a>
                     </dd>
                     <dd>
                        <a class="link" href="https://git-wip-us.apache.org/repos/asf?p=libcloud.git;a=blob;f=CHANGES.rst" target="_top">
                        Changes with current version of Apache Libcloud
                        </a>
                     </dd>
                  </dl>
               </div>
               <div class="row">
               <div class="col-md-4">
                  <dl>
                     <dt>
                        Community
                     </dt>
                     <dd>
                        <strong>
                        Twitter:
                        </strong>
                        <a href="https://twitter.com/libcloud">
                        @libcloud
                        </a>
                     </dd>
                     <dd>
                        <strong>
                        IRC:
                        </strong>
                        <a href="irc://irc.freenode.net/libcloud">
                        #libcloud
                        </a>
                        on freenode
                     </dd>
                     <dd>
                        <strong>
                        Mailing list:
                        </strong>
                        <a href="https://libcloud.apache.org/community.html">
                        Register
                        </a>
                        |
                        <a href="https://issues.apache.org/jira/browse/LIBCLOUD">
                        Archive
                        </a>
                     </dd>
                     <dd>
                        <strong>
                        Issues:
                        </strong>
                        <a href="https://issues.apache.org/jira/browse/LIBCLOUD/?selectedTab=com.atlassian.jira.jira-projects-plugin:issues-panel">
                        Issues
                        </a>
                     </dd>
                  </dl>
               </div>
               </div>
               <div class="col-md-4">
                  <dl>
                     <dt>
                        SDK
                     </dt>
                     <dd>
                        <a class="roundedButton" href="https://docs.openstack.org/infra/shade/">
                        Shade SDK
                        </a>
                     </dd>
                  </dl>
               </div>
               <div class="col-md-4">
                  <dl>
                     <dt>
                        Docs and resources
                     </dt>
                     <dd>
                        <a class="link" href="https://developer.openstack.org/firstapp-shade/getting_started.html" target="_top">
                        Getting started
                        </a>
                     </dd>
                     <dd>
                        <a class="link" href="https://docs.openstack.org/infra/shade/usage.html" target="_top">
                        Usage
                        </a>
                     </dd>
                     <dd>
                        <a class="link" href="https://docs.openstack.org/infra/shade/releasenotes.html" target="_top">
                        Release notes
                        </a>
                     </dd>
                  </dl>
               </div>
               <div class="row">
               <div class="col-md-4">
                  <dl>
                     <dt>
                        Community
                     </dt>
                     <dd>
                        <strong>
                        IRC:
                        </strong>
                        <a href="irc://irc.freenode.net/openstack-sdks">
                        #openstack-sdks
                        </a>
                        on freenode
                     </dd>
                     <dd>
                        <strong>
                        Mailing list:
                        </strong>
                        <a href="http://lists.openstack.org/cgi-bin/mailman/listinfo/openstack-infra">
                        Register
                        </a>
                        |
                        <a href="http://lists.openstack.org/pipermail/openstack-infra/">
                        Archive
                        </a>
                     </dd>
                     <dd>
                        <strong>
                        Issues:
                        </strong>
                        <a href="https://storyboard.openstack.org/#!/project/760">
                        Issues
                        </a>
                     </dd>
                  </dl>
               </div>
               </div>
            </div>
            <div class="span-24" id="ruby">
               <h3 class="lang-name">
                  Ruby
               </h3>
               <div class="col-md-4">
                  <dl>
                     <dt>
                        SDK
                     </dt>
                     <dd>
                        <a class="roundedButton" href="http://fog.io/">
                        Fog SDK
                        </a>
                     </dd>
                  </dl>
               </div>
               <div class="col-md-4">
                  <dl>
                     <dt>
                        Docs and resources
                     </dt>
                     <dd>
                        <a class="link" href="https://github.com/fog/fog-openstack/blob/master/docs/getting_started.md" target="_top">
                        Getting started
                        </a>
                     </dd>
                     <dd>
                        <a class="link" href="https://github.com/fog/fog-openstack/blob/master/supported.md" target="_top">
                        Supported APIs
                        </a>
                     </dd>
                     <dd>
                        <a class="link" href="https://github.com/fog/fog-openstack/tree/master/examples" target="_top">
                        Code samples
                        </a>
                     </dd>
                  </dl>
               </div>
               <div class="row">
               <div class="col-md-4">
                  <dl>
                     <dt>
                        Community
                     </dt>
                     <dd>
                        <strong>
                        Twitter:
                        </strong>
                        <a href="https://twitter.com/fog">
                        @fog
                        </a>
                     </dd>
                     <dd>
                        <strong>
                        IRC:
                        </strong>
                        <a href="irc://irc.freenode.net/ruby-fog">
                        #ruby-fog
                        </a>
                        on freenode
                     </dd>
                     <dd>
                        <strong>
                        Mailing list:
                        </strong>
                        <a href="http://groups.google.com/group/ruby-fog">
                        ruby-fog
                        </a>
                     </dd>
                     <dd>
                        <strong>
                        Issues:
                        </strong>
                        <a href="https://github.com/fog/fog-openstack/issues">
                        fog/fog Issues
                        </a>
                     </dd>
                  </dl>
               </div>
              </div>
            </div>
            <div class="span-24" id="net">
               <h3 class="lang-name">
                  .NET
               </h3>
               <div class="col-md-4">
                  <dl>
                     <dt>
                        SDK
                     </dt>
                     <dd>
                        <a class="roundedButton"  href="http://www.openstacknetsdk.org">
                        .NET SDK
                        </a>
                     </dd>
                  </dl>
               </div>
               <div class="col-md-4">
                  <dl>
                     <dt>
                        Docs and resources
                     </dt>
                     <dd>
                        <a class="link" href="https://github.com/openstacknetsdk/openstack.net/wiki/Getting-Started-With-The-OpenStack-NET-SDK" target="_top">
                        Getting started
                        </a>
                     </dd>
                     <dd>
                        <a class="link" href="http://www.openstacknetsdk.org/docs/html/e11545c6-88c9-4ff1-b0cf-abffd4bd3ff7.htm" target="_top">
                        Supported APIs
                        </a>
                     </dd>
                     <dd>
                        <a class="link" href="https://github.com/openstacknetsdk/openstack.net/tree/develop/samples" target="_top">
                        Code samples
                        </a>
                     </dd>
                     <dd>
                        <a class="link" href="https://github.com/openstacknetsdk/openstack.net" target="_top">
                        openstacknetsdk/openstack.net
                        </a>
                     </dd>
                  </dl>
               </div>
               <div class="row">
               <div class="col-md-4">
                  <dl>
                     <dt>
                        Community
                     </dt>
                     <dd>
                        <strong>
                        IRC:
                        </strong>
                        <a href="irc://irc.freenode.net/openstack-sdks">
                        #openstack-sdks
                        </a>
                        on freenode
                     </dd>
                     <dd>
                        <strong>
                        Mailing list:
                        </strong>
                        <a href="http://lists.openstack.org/cgi-bin/mailman/listinfo/openstack-dev">
                        Register
                        </a>
                        |
                        <a href="http://lists.openstack.org/pipermail/openstack-dev/">
                        Archive
                        </a>
                     </dd>
                     <dd>
                        <strong>
                        Issues:
                        </strong>
                        <a href="https://github.com/openstacknetsdk/openstack.net/issues">
                        openstacknetsdk/openstack.net Issues
                        </a>
                     </dd>
                  </dl>
                </div>
               </div>
            </div>
            <div class="span-24" id="php">
               <h3 class="lang-name">
                  PHP
               </h3>
               <div class="col-md-4">
                  <dl>
                     <dt>
                        SDK
                     </dt>
                     <dd>
                        <a class="roundedButton" href="http://docs.os.php-opencloud.com/en/latest/">
                        PHP OpenCloud SDK
                        </a>
                     </dd>
                  </dl>
               </div>
               <div class="col-md-4">
                  <dl>
                     <dt>
                        Docs and resources
                     </dt>
                     <dd>
                        <a class="link" href="http://docs.os.php-opencloud.com/en/latest/#supported-services" target="_top">
                        Supported APIs
                        </a>
                     </dd>
                     <dd>
                        <a class="link" href="https://github.com/php-opencloud/openstack/tree/master/samples" target="_top">
                        Code samples
                        </a>
                     </dd>
                     <dd>
                        <a class="link" href="https://github.com/php-opencloud/openstack" target="_top">
                        php-opencloud/openstack
                        </a>
                     </dd>
                  </dl>
               </div>
               <div class="row">
               <div class="col-md-4">
                  <dl>
                     <dt>
                        Community
                     </dt>
                     <dd>
                        <strong>
                        IRC:
                        </strong>
                        <a href="irc://irc.freenode.net/openstack-sdks">
                        #openstack-sdks
                        </a>
                        on freenode
                     </dd>
                     <dd>
                        <strong>
                        Mailing list:
                        </strong>
                        <a href="https://groups.google.com/forum/#!forum/php-opencloud">
                        php-opencloud
                        </a>
                     </dd>
                     <dd>
                        <strong>
                        Issues:
                        </strong>
                        <a href="https://github.com/php-opencloud/openstack/issues">
                        php-opencloud/openstack Issues
                        </a>
                     </dd>
                  </dl>
               </div>
              </div>
            </div>
         </div>
         <div id="api">
            <h2>APIs</h2>
            <p>
               An application programming interface (API) lets you access service
               capabilities through predefined functions.
            </p>
            <p>
               To learn how to use the APIs, see the <a
               href="https://developer.openstack.org/api-guide/quick-start/">OpenStack
               API Guide</a>.
            </p>
            <h3>Translations</h3>
            <ul>
              <li><a href="https://developer.openstack.org/de/api-guide/quick-start/">German (de)</a></li>
              <li><a href="https://developer.openstack.org/id/api-guide/quick-start/">Indonesian (id)</a></li>
              <li><a href="https://developer.openstack.org/ja/api-guide/quick-start/">Japanese (ja)</a></li>
              <li><a href="https://developer.openstack.org/ko_KR/api-guide/quick-start/">Korean (ko_KR)</a></li>
              <li><a href="https://developer.openstack.org/zh_CN/api-guide/quick-start/">Chinese (zh_CN)</a></li>
            </ul>
         </div>
         <div id="cli">
            <h2>CLIs</h2>
            <p>
               A command-line interface (CLI) is a text-based client that helps
               you create scripts to interact with OpenStack clouds.
            </p>
            <p>
               To install the CLIs, see <a target="_top" class="link"
               href="https://docs.openstack.org/user-guide/common/cli_install_openstack_command_line_clients.html">Install the CLIs</a>.
            </p>
            <p>
               To use the CLIs, see <a class="link" href="https://docs.openstack.org/user-guide/cli.html"
               target="_top">OpenStack command-line clients</a>.
            </p>
         </div>
         <div id="links">
            <h2>More Links</h2>
            <p>
               <a target="_top" class="link" href="https://www.openstack.org/appdev/">OpenStack for App Developers</a>.
            </p>
         </div>
      </div>
      <!-- End Page Content -->
      <hr/>
      <p>
         Documentation treated like code, powered by the community - interested? Here's
         <a href="https://docs.openstack.org/contributor-guide/">
         how to contribute
         </a>
         .
      </p>
      <p>
         The OpenStack project is provided under the Apache 2.0 license. Openstack.org is powered by
         <a href="http://www.rackspacecloud.com/">
         Rackspace Cloud Computing
         </a>
         .
      </p>
   </div>
</div>
{% endblock content %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js" type="text/javascript"></script>
<script charset="utf-8" src="/common/jquery/jquery.hoverIntent.minified.js" type="text/javascript"></script>
<script charset="utf-8" type="text/javascript">
   //<![CDATA[
    $(document).ready(function() {

      function addMenu(){
        $(".dropDown").addClass("menuHover");
        }

      function removeMenu(){
        $(".dropDown").removeClass("menuHover");
        }

    var menuConfig = {
         interval: 500,
         sensitivity: 4,
         over: addMenu,
         timeout: 500,
         out: removeMenu
    };

    $(".dropDownTrigger").hoverIntent(menuConfig);

    });
    //]]>
</script>
</body>
</html>
