{% set scriptdir = './common/js/' %}
{% set cssdir = './common/css/' %}
{% extends "templates/indexbase.tmpl" %}
{% block pagetitle %}Application Development{% endblock %}
{% block title %}{% endblock %}
{% block header %}{% endblock header %}
{% block content %}
<!-- Begin Page Content -->
<div class="top-docs-wrapper">
   <div class="container">
      <div class="col-lg-12">
         <h1>Development resources for OpenStack clouds</h1>
         <p>
            You can use <a href="#sdk">SDKs</a>, <a href="#api">APIs</a>, and
            <a href="#cli">CLIs</a> to interact with private and public
            OpenStack clouds. Use the APIs when an SDK is not available for
            the programming language that you use.
         </p>
         <hr>
         <a href="#sdk" class="overview-btn docs-btn">View SDKs <i class="fa fa-arrow-circle-o-down"></i></a>
         <a href="#api" class="overview-btn docs-btn">View APIs <i class="fa fa-arrow-circle-o-down"></i></a>
         <a href="#cli" class="overview-btn docs-btn">View CLIs <i class="fa fa-arrow-circle-o-down"></i></a>
         <form class="docs-main-search-form">
            <script type="text/javascript">
               (function() {
                 var cx = '000108871792296872333:noj9nikm74i';
                 var gcse = document.createElement('script');
                 gcse.type = 'text/javascript';
                 gcse.async = true;
                 gcse.src = (document.location.protocol == 'https:' ? 'https:' :
                                                           'http:') +
                            '//www.google.com/cse/cse.js?cx=' + cx;
                 var s = document.getElementsByTagName('script')[0];
                 s.parentNode.insertBefore(gcse, s);
               })();
            </script>
            <gcse:search gname="standard" as_sitesearch="docs.openstack.org"></gcse:search>
         </form>
      </div>
      <div class="container docs-toc">
         <div id="sdk">
            <h2>
               SDKs
            </h2>
            <p>
               A software development kit (SDK) contains code, examples, and
               documentation that you use to create OpenStack cloud
               applications in the language of your choice.
            </p>
            <p>
               If one of the following SDKs do not support your language or use case,
               you can use the <a href="#api">APIs</a> or one of the other <a
                  href="https://wiki.openstack.org/wiki/SDKs#Known_SDKs">known SDKs</a>.
            </p>
            <div class="span-24" id="java">
               <h3 class="lang-name">
                  Java
               </h3>
               <div class="col-md-4">
                  <dl>
                     <dt>
                        SDK
                     </dt>
                     <dd>
                        <a class="roundedButton" href="http://jclouds.apache.org/guides/openstack/">
                        Apache jclouds SDK
                        </a>
                     </dd>
                  </dl>
               </div>
               <div class="col-md-4">
                  <dl>
                     <dt>
                        Docs and resources
                     </dt>
                     <dd>
                        <a class="link" href="http://jclouds.apache.org/guides/openstack/" target="_top">
                        OpenStack: Getting Started Guide
                        </a>
                     </dd>
                     <dd>
                        <a class="link" href="http://jclouds.apache.org/reference/javadoc/" target="_top">
                        Javadoc for Apache jclouds
                        </a>
                     </dd>
                     <dd>
                        <a class="link" href="http://jclouds.apache.org/releasenotes/" target="_top">
                        Release Notes Archive
                        </a>
                     </dd>
                  </dl>
               </div>
               <div class="col-md-4">
                  <dl>
                     <dt>
                        Community
                     </dt>
                     <dd>
                        <strong>
                        Twitter:
                        </strong>
                        <a href="https://twitter.com/jclouds">
                        @jclouds
                        </a>
                     </dd>
                     <dd>
                        <strong>
                        IRC:
                        </strong>
                        <a href="irc://irc.freenode.net/jclouds">
                        #jclouds
                        </a>
                        on freenode
                     </dd>
                     <dd>
                        <strong>
                        Mailing list:
                        </strong>
                        <a href="mailto:jclouds-user-subscribe@apache.org">
                        Register
                        </a>
                        |
                        <a href="http://www.mail-archive.com/user@jclouds.apache.org/">
                        Archive
                        </a>
                     </dd>
                     <dd>
                        <strong>
                        Issues:
                        </strong>
                        <a href="http://jclouds.apache.org/reference/report-a-bug/">
                        Report a Bug
                        </a>
                     </dd>
                  </dl>
               </div>
            </div>
            <div class="span-24" id="nodejs">
               <h3 class="lang-name">
                  Node.js
               </h3>
               <div class="col-md-4">
                  <dl>
                     <dt>
                        SDK
                     </dt>
                     <dd>
                        <a class="roundedButton" href="https://github.com/pkgcloud/pkgcloud/blob/master/docs/providers/openstack/README.md">
                        pkgcloud SDK
                        </a>
                     </dd>
                  </dl>
               </div>
               <div class="col-md-4">
                  <dl>
                     <dt>
                        Docs and resources
                     </dt>
                     <dd>
                        <a class="link" href="https://github.com/pkgcloud/pkgcloud/blob/master/docs/providers/openstack/getting-started-compute.md" target="_top">
                        Getting started with pkgcloud &amp; Openstack
                        </a>
                     </dd>
                     <dd>
                        <a class="link" href="https://github.com/pkgcloud/pkgcloud#supported-apis" target="_top">
                        Supported APIs
                        </a>
                     </dd>
                     <dd>
                        <a class="link" href="https://github.com/pkgcloud/pkgcloud/releases/" target="_top">
                        pkgcloud Releases
                        </a>
                     </dd>
                  </dl>
               </div>
               <div class="col-md-4">
                  <dl>
                     <dt>
                        Community
                     </dt>
                     <dd>
                        <strong>
                        Twitter:
                        </strong>
                        <a href="https://twitter.com/pkgcloud">
                        @pkgcloud
                        </a>
                     </dd>
                     <dd>
                        <strong>
                        IRC:
                        </strong>
                        <a href="irc://irc.freenode.net/pkgcloud">
                        #pkgcloud
                        </a>
                        on freenode
                     </dd>
                     <dd>
                        <strong>
                        Issues:
                        </strong>
                        <a href="https://github.com/pkgcloud/pkgcloud/issues">
                        pkgcloud/pkgcloud Issues
                        </a>
                     </dd>
                  </dl>
               </div>
            </div>
            <div class="span-24" id="python">
               <h3 class="lang-name">
                  Python
               </h3>
               <div class="col-md-4">
                  <dl>
                     <dt>
                        SDK
                     </dt>
                     <dd>
                        <a class="roundedButton" href="https://libcloud.apache.org/">
                        libcloud SDK
                        </a>
                     </dd>
                  </dl>
               </div>
               <div class="col-md-4">
                  <dl>
                     <dt>
                        Docs and resources
                     </dt>
                     <dd>
                        <a class="link" href="http://developer.openstack.org/firstapp-libcloud/getting_started.html" target="_top">
                        Getting started
                        </a>
                     </dd>
                     <dd>
                        <a class="link" href="https://libcloud.readthedocs.org/en/latest/compute/drivers/openstack.html" target="_top">
                        OpenStack Compute Driver Documentation
                        </a>
                     </dd>
                     <dd>
                        <a class="link" href="https://libcloud.readthedocs.org/en/latest/" target="_top">
                        Welcome to Apache Libcloud’s documentation!
                        </a>
                     </dd>
                     <dd>
                        <a class="link" href="https://git-wip-us.apache.org/repos/asf?p=libcloud.git;a=blob;f=CHANGES.rst" target="_top">
                        Changes with current version of Apache Libcloud
                        </a>
                     </dd>
                  </dl>
               </div>
               <div class="col-md-4">
                  <dl>
                     <dt>
                        Community
                     </dt>
                     <dd>
                        <strong>
                        Twitter:
                        </strong>
                        <a href="https://twitter.com/libcloud">
                        @libcloud
                        </a>
                     </dd>
                     <dd>
                        <strong>
                        IRC:
                        </strong>
                        <a href="irc://irc.freenode.net/libcloud">
                        #libcloud
                        </a>
                        on freenode
                     </dd>
                     <dd>
                        <strong>
                        Mailing list:
                        </strong>
                        <a href="https://libcloud.apache.org/community.html">
                        Register
                        </a>
                        |
                        <a href="https://issues.apache.org/jira/browse/LIBCLOUD">
                        Archive
                        </a>
                     </dd>
                     <dd>
                        <strong>
                        Issues:
                        </strong>
                        <a href="https://issues.apache.org/jira/browse/LIBCLOUD/?selectedTab=com.atlassian.jira.jira-projects-plugin:issues-panel">
                        Issues
                        </a>
                     </dd>
                  </dl>
               </div>
            </div>
            <div class="span-24" id="ruby">
               <h3 class="lang-name">
                  Ruby
               </h3>
               <div class="col-md-4">
                  <dl>
                     <dt>
                        SDK
                     </dt>
                     <dd>
                        <a class="roundedButton" href="http://fog.io/">
                        Fog SDK
                        </a>
                     </dd>
                  </dl>
               </div>
               <div class="col-md-4">
                  <dl>
                     <dt>
                        Docs and resources
                     </dt>
                     <dd>
                        <a class="link" href="https://github.com/fog/fog-openstack/blob/master/docs/getting_started.md" target="_top">
                        Getting started
                        </a>
                     </dd>
                     <dd>
                        <a class="link" href="https://github.com/fog/fog-openstack/blob/master/supported.md" target="_top">
                        Supported APIs
                        </a>
                     </dd>
                     <dd>
                        <a class="link" href="https://github.com/fog/fog-openstack/tree/master/examples" target="_top">
                        Code samples
                        </a>
                     </dd>
                  </dl>
               </div>
               <div class="col-md-4">
                  <dl>
                     <dt>
                        Community
                     </dt>
                     <dd>
                        <strong>
                        Twitter:
                        </strong>
                        <a href="https://twitter.com/fog">
                        @fog
                        </a>
                     </dd>
                     <dd>
                        <strong>
                        IRC:
                        </strong>
                        <a href="irc://irc.freenode.net/ruby-fog">
                        #ruby-fog
                        </a>
                        on freenode
                     </dd>
                     <dd>
                        <strong>
                        Mailing list:
                        </strong>
                        <a href="http://groups.google.com/group/ruby-fog">
                        ruby-fog
                        </a>
                     </dd>
                     <dd>
                        <strong>
                        Issues:
                        </strong>
                        <a href="https://github.com/fog/fog-openstack/issues">
                        fog/fog Issues
                        </a>
                     </dd>
                  </dl>
               </div>
            </div>
            <div class="span-24" id="net">
               <h3 class="lang-name">
                  .NET
               </h3>
               <div class="col-md-4">
                  <dl>
                     <dt>
                        SDK
                     </dt>
                     <dd>
                        <a class="roundedButton"  href="https://github.com/openstacknetsdk/openstack.net/releases/latest">
                        .NET SDK
                        </a>
                     </dd>
                  </dl>
               </div>
               <div class="col-md-4">
                  <dl>
                     <dt>
                        Docs and resources
                     </dt>
                     <dd>
                        <a class="link" href="http://www.openstacknetsdk.org/" target="_top">
                        OpenStack.NET
                        </a>
                     </dd>
                     <dd>
                        <a class="link" href="https://github.com/openstacknetsdk/openstack.net" target="_top">
                        openstacknetsdk/openstack.net
                        </a>
                     </dd>
                  </dl>
               </div>
               <div class="col-md-4">
                  <dl>
                     <dt>
                        Community
                     </dt>
                     <dd>
                        <strong>
                        IRC:
                        </strong>
                        <a href="irc://irc.freenode.net/openstack-sdks">
                        #openstack-sdks
                        </a>
                        on freenode
                     </dd>
                     <dd>
                        <strong>
                        Mailing list:
                        </strong>
                        <a href="http://lists.openstack.org/cgi-bin/mailman/listinfo/openstack-dev">
                        Register
                        </a>
                        |
                        <a href="http://lists.openstack.org/pipermail/openstack-dev/">
                        Archive
                        </a>
                     </dd>
                     <dd>
                        <strong>
                        Issues:
                        </strong>
                        <a href="https://github.com/openstacknetsdk/openstack.net/issues">
                        openstacknetsdk/openstack.net Issues
                        </a>
                     </dd>
                  </dl>
               </div>
            </div>
            <div class="span-24" id="php">
               <h3 class="lang-name">
                  PHP
               </h3>
               <div class="col-md-4">
                  <dl>
                     <dt>
                        SDK
                     </dt>
                     <dd>
                        <a class="roundedButton" href="http://docs.os.php-opencloud.com/en/latest/">
                        PHP OpenCloud SDK
                        </a>
                     </dd>
                  </dl>
               </div>
               <div class="col-md-4">
                  <dl>
                     <dt>
                        Docs and resources
                     </dt>
                     <dd>
                        <a class="link" href="http://docs.os.php-opencloud.com/en/latest/#supported-services" target="_top">
                        Supported APIs
                        </a>
                     </dd>
                     <dd>
                        <a class="link" href="https://github.com/php-opencloud/openstack/tree/master/samples" target="_top">
                        Code samples
                        </a>
                     </dd>
                     <dd>
                        <a class="link" href="https://github.com/php-opencloud/openstack" target="_top">
                        php-opencloud/openstack
                        </a>
                     </dd>
                  </dl>
               </div>
               <div class="col-md-4">
                  <dl>
                     <dt>
                        Community
                     </dt>
                     <dd>
                        <strong>
                        IRC:
                        </strong>
                        <a href="irc://irc.freenode.net/openstack-sdks">
                        #openstack-sdks
                        </a>
                        on freenode
                     </dd>
                     <dd>
                        <strong>
                        Mailing list:
                        </strong>
                        <a href="https://groups.google.com/forum/#!forum/php-opencloud">
                        php-opencloud
                        </a>
                     </dd>
                     <dd>
                        <strong>
                        Issues:
                        </strong>
                        <a href="https://github.com/php-opencloud/openstack/issues">
                        php-opencloud/openstack Issues
                        </a>
                     </dd>
                  </dl>
               </div>
            </div>
         </div>
         <div id="api">
            <h2>
               APIs
            </h2>
            <p>
               An application programming interface (API) lets you access service
               capabilities through predefined functions.
            </p>
            <p>
               To learn how to use the APIs, see the <a
               href="http://developer.openstack.org/api-guide/quick-start/">OpenStack
               API Guide</a> and <a href="http://developer.openstack.org/api-ref.html">OpenStack
               API Complete Reference</a>.
            </p>
         </div>
         <div id="cli">
            <h2>
               CLIs
            </h2>
            <p>
               A command-line interface (CLI) is a text-based client that helps
               you create scripts to interact with OpenStack clouds.
            </p>
            <p>
               To install the CLIs, see <a target="_top" class="link"
               href="http://docs.openstack.org/cli-reference/common/cli_install_openstack_command_line_clients.html">Install the CLIs</a>.
            </p>
            <p>
               To use the CLIs, see <a class="link" href="http://docs.openstack.org/user-guide/cli.html"
               target="_top">OpenStack command-line clients</a>.
            </p>
         </div>
      </div>
      <!-- End Page Content -->
      <hr/>
      <p>
         Documentation treated like code, powered by the community - interested? Here's
         <a href="http://docs.openstack.org/contributor-guide/">
         how to contribute
         </a>
         .
      </p>
      <p>
         The OpenStack project is provided under the Apache 2.0 license. Openstack.org is powered by
         <a href="http://www.rackspacecloud.com/">
         Rackspace Cloud Computing
         </a>
         .
      </p>
   </div>
</div>
{% endblock content %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js" type="text/javascript"></script>
<script charset="utf-8" src="/common/jquery/jquery.hoverIntent.minified.js" type="text/javascript"></script>
<script charset="utf-8" type="text/javascript">
   //<![CDATA[
    $(document).ready(function() {

      function addMenu(){
        $(".dropDown").addClass("menuHover");
        }

      function removeMenu(){
        $(".dropDown").removeClass("menuHover");
        }

    var menuConfig = {
         interval: 500,
         sensitivity: 4,
         over: addMenu,
         timeout: 500,
         out: removeMenu
    };

    $(".dropDownTrigger").hoverIntent(menuConfig);

    });
    //]]>
</script>
</body>
</html>
